<div class="flex flex-wrap justify-center mt-10">
  {{ if .Ships }}
  {{ range .Ships }}
  <div class="p-4 max-w-sm">
    <div class="flex rounded-lg h-full dark:bg-gray-800 bg-teal-400 p-8 flex-col">
      <div class="flex items-center mb-3">
        <div
          class="w-8 h-8 mr-3 inline-flex items-center justify-center rounded-full dark:bg-indigo-500 bg-indigo-500 text-white flex-shrink-0">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            class="w-5 h-5" viewBox="0 0 24 24">
            <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
          </svg>
        </div>
        <h2 class="text-white dark:text-white text-lg font-medium"> {{ .Symbol }} </h2>
      </div>
      <div class="flex flex-col justify-between flex-grow">
        <p class="leading-relaxed text-base text-white dark:text-gray-300">
          Current System:
          <a hx-get={{ printf "systems/%s" .Nav.SystemSymbol }} hx-trigger="click" hx-target="#content">{{
            .Nav.SystemSymbol }}</a>
        </p>
        <p class="leading-relaxed text-base text-white dark:text-gray-300">
          Current Waypoint:
          <a hx-get={{ printf "systems/%s/%s" .Nav.SystemSymbol .Nav.WaypointSymbol }} hx-trigger="click"
            hx-target="#content">{{ .Nav.WaypointSymbol }}</a>
        </p>
        <br />
        <p class="leading-relaxed text-base text-white dark:text-gray-300">
          Content goes here
        </p>
        <br />
        <p class="leading-relaxed text-base text-white dark:text-gray-300">
          CONTENT GOES HERE
        </p>
        <br />
        <a hx-post="/my/contracts/{{ .Symbol }}/accept"
          class="mt-3 text-black dark:text-white hover:text-blue-600 inline-flex items-center">Accept
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            class="w-4 h-4 ml-2" viewBox="0 0 24 24">
            <path d="M5 12h14M12 5l7 7-7 7"></path>
          </svg>
        </a>
        <a href="/my/contracts/{{ .Symbol }}/deliver"
          class="mt-3 text-black dark:text-white hover:text-blue-600 inline-flex items-center">Deliver
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            class="w-4 h-4 ml-2" viewBox="0 0 24 24">
            <path d="M5 12h14M12 5l7 7-7 7"></path>
          </svg>
        </a>
        <a href="/my/contracts/{{ .Symbol }}/fulfill"
          class="mt-3 text-black dark:text-white hover:text-blue-600 inline-flex items-center">Fulfill
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            class="w-4 h-4 ml-2" viewBox="0 0 24 24">
            <path d="M5 12h14M12 5l7 7-7 7"></path>
          </svg>
        </a>
      </div>
    </div>
  </div>
  {{ end }}
  {{ else }}
  <div class="p-4 max-w-sm">
    <div class="flex rounded-lg h-full dark:bg-gray-800 bg-teal-400 p-8 flex-col">
      <div class="flex items-center mb-3">
        <div
          class="w-8 h-8 mr-3 inline-flex items-center justify-center rounded-full dark:bg-indigo-500 bg-indigo-500 text-white flex-shrink-0">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            class="w-5 h-5" viewBox="0 0 24 24">
            <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
          </svg>
        </div>
        <h2 class="text-white dark:text-white text-lg font-medium"> Error </h2>
      </div>
      <div class="flex flex-col justify-between flex-grow">
        <p class="leading-relaxed text-base text-white dark:text-gray-300">
          Unable to get ships or you currently have no ships
        </p>
      </div>
    </div>
  </div>
  {{ end }}
</div>
