<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Spacetraders Home</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://unpkg.com/htmx.org@2.0.1"
    integrity="sha384-QWGpdj554B4ETpJJC9z+ZHJcA/i59TyjxEPXiiUgN2WmTyV5OEZWCD6gQhgkdpB/"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="./output.css">
</head>

<body>
  <header>
    <container>
    </container>
  </header>
  <main>
    <h1 class="text-4xl">Dashboard</h1>
    <code>
      {{.RequestStatus}}<br />
      {{.Status}}<br />
    </code>
    <div class="grid grid-cols-1 gap-4 lg:grid-cols-4 lg:gap-8">
      <div class="h-32 rounded-lg bg-gray-200">
        <h2 class="text-2xl"> Leaderboards </h2>
        <div class="overflow-x-auto">
          <h3 class="text-1xl"> Most Credits </h3>
          <table class="min-w-full divide-y-2 divide-gray-200 bg-white text-sm">
            <thead class="ltr:text-left rtl:text-right">
              <tr>
                <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Agent Symbol</th>
                <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Credits</th>
              </tr>
            </thead>
            <tbody class="divide-y divide-gray-200">
              {{range .Leaderboards.MostCredits}}<tr class="odd:bg-gray-50">
                <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">{{.AgentSymbol}}</td>
                <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">{{.Credits}}</td>
              </tr>{{end}}
            </tbody>
          </table>
          <h3 class="text-1xl"> Most Submitted Charts </h3>
          <table class="min-w-full divide-y-2 divide-gray-200 bg-white text-sm">
            <thead class="ltr:text-left rtl:text-right">
              <tr>
                <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Agent Symbol</th>
                <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Chart Count</th>
              </tr>
            </thead>
            <tbody class="divide-y divide-gray-200">
              {{range .Leaderboards.MostSubmittedCharts}}<tr class="odd:bg-gray-50">
                <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">{{.AgentSymbol}}</td>
                <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">{{.ChartCount}}</td>
              </tr>{{end}}
            </tbody>
          </table>
        </div>
      </div>
      <div class="h-32 rounded-lg bg-gray-200 lg:col-span-2"></div>
      <div class="h-32 rounded-lg bg-gray-200"></div>
    </div>

  </main>
  <footer>
    <!-- Site footer content goes here -->
  </footer>
  <script src="index.js"></script>
</body>

</html>
