<body>
  <div class="container">
    <label for="faction"><b>Faction</b></label>
    <select name="faction" id="faction">
      <option value="COSMIC">COSMIC</option>
      <option value="VOID">VOID</option>
      <option value="GALACTIC">GALACTIC</option>
      <option value="QUANTUM">QUANTUM</option>
      <option value="DOMINION">DOMINION</option>
      <option value="ASTRO">ASTRO</option>
      <option value="CORSAIRS">CORSAIRS</option>
      <option value="OBSIDIAN">OBSIDIAN</option>
      <option value="AEGIS">AEGIS</option>
      <option value="UNITED">UNITED</option>
      <option value="SOLITARY">SOLITARY</option>
      <option value="COBALT">COBALT</option>
      <option value="OMEGA">OMEGA</option>
      <option value="ECHO">ECHO</option>
      <option value="LORDS">LORDS</option>
      <option value="CULT">CULT</option>
      <option value="ANCIENTS">ANCIENTS</option>
      <option value="SHADOW">SHADOW</option>
      <option value="ETHEREAL">ETHEREAL</option>
    </select>
  </div>
  <div>
    <button hx-post="/createUser" hx-include="#faction">Create
      Agent</button>
  </div>
</body>