<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Spacetraders Home</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://unpkg.com/htmx.org@2.0.1"
    integrity="sha384-QWGpdj554B4ETpJJC9z+ZHJcA/i59TyjxEPXiiUgN2WmTyV5OEZWCD6gQhgkdpB/"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/json-enc.js"></script>
  <link rel="stylesheet" href="stylesheet.css">
</head>

<body>
  <header>
    <container>
      <h1 class="text-4xl">Dashboard</h1>
      <code>
        {{ if (ne .Server.RequestStatus "ok") }}
          {{.Server.RequestStatus}}<br />
        {{ end }}
        {{.Server.Status}}<br />
      </code>
    </container>
  </header>
  <main>
    <div class="grid grid-cols-1 gap-4 lg:grid-cols-4 lg:gap-8">
      <div class="h-32 rounded-lg">
        {{ template "section_leaderboards" .Server.Leaderboards }} </div>
      <div class="h-32 rounded-lg lg:col-span-2 min-w=100">
        {{ template "section_agents" .AgentsSection }}
      </div>
      <div class="h-32 rounded-lg">
        <h2>I am another section </h2>
      </div>
    </div>
  </main>
  <footer>
    <!-- Site footer content goes here -->
  </footer>
</body>

</html>