<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Spacetraders Home</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://unpkg.com/htmx.org@2.0.1"
    integrity="sha384-QWGpdj554B4ETpJJC9z+ZHJcA/i59TyjxEPXiiUgN2WmTyV5OEZWCD6gQhgkdpB/"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../css/output.css">
</head>

<body>
  <header>
    <container>
    </container>
  </header>
  <main>
    <h1 class="text-4xl">Dashboard</h1>
    <code>
      {{.Server.RequestStatus}}<br />
      {{.Server.Status}}<br />
    </code>
    <div class="grid grid-cols-1 gap-4 ">
      <div>
        {{ template "section_leaderboards" .Server.Leaderboards }}
      </div>
      <div >
        <h2>Agents321</h2>
        {{ template "section_agents" .Agents }}
      </div>
      <div ></div>
    </div>
  </main>
  <footer>
    <!-- Site footer content goes here -->
  </footer>
  <script src="index.js"></script>
</body>

</html>
