{{ define "section_agents" }}
<h3 class="bg-clip-text text-transparent bg-gradient-to-r from-indigo-500 to-teal-500 text-5xl font-black">Agents
  Section</h3>
{{ if .Agents }}
<ul>
  {{ range . }}
  <li>{{ .Name }}</li>
  {{ end }}
</ul>
{{ else }}
<p>No registered agents found</p>
{{ end }}
<!-- component -->
<!-- Code block starts -->
<dh-component>
  <div class="py-12 bg-gray-700 transition duration-150 ease-in-out z-10 absolute top-0 right-0 bottom-0 left-0"
    id="modal">
    <div role="alert" class="container mx-auto w-11/12 md:w-2/3 max-w-lg">
      <div class="relative py-8 px-5 md:px-10 bg-white shadow-md rounded border border-gray-400">
        <h1 class="text-gray-800 font-lg font-bold tracking-normal leading-tight mb-4">Enter Agent Details
        </h1>
        <!-- Agent symbol -->
        <label for="name" class="text-gray-800 text-sm font-bold leading-tight tracking-normal">Agent Symbol</label>
        <input id="name"
          class="mb-5 mt-2 text-gray-600 focus:outline-none focus:border focus:border-indigo-700 font-normal w-full h-10 flex items-center pl-3 text-sm border-gray-300 rounded border"
          placeholder="5YMB0L" />

        <!-- Faction -->
        <label for="faction" class="text-gray-800 text-sm font-bold leading-tight tracking-normal">Faction</label>
        <div>
          <select id="faction"
            class="z-10 mt-2 w-56 rounded-md border border-gray-100 bg-white shadow-lg" role="menu">
            <div class="p-2">
              {{ if .Factions }}
              {{ range .Factions }}
              <option href="#"
                class="block rounded-lg px-4 py-2 text-sm text-gray-500 hover:bg-gray-50 hover:text-gray-700"
                role="menuitem">
                {{ . }}
              </option>
              {{ end }}
              {{ else }}
              <p>Unable to fetch factions</p>
              {{ end }}
            </div>
          </select>
        </div>
        <!-- action buttons -->
        <div class="relative mb-5 mt-2">
          <div class="flex items-center justify-start w-full">
            <button
              class="focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-700 transition duration-150 ease-in-out hover:bg-indigo-600 bg-indigo-700 rounded text-white px-8 py-2 text-sm">Submit</button>
            <button
              class="focus:outline-none focus:ring-2 focus:ring-offset-2  focus:ring-gray-400 ml-3 bg-gray-100 transition duration-150 text-gray-600 ease-in-out hover:border-gray-400 hover:bg-gray-300 border rounded px-8 py-2 text-sm"
              onclick="modalHandler()">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="w-full flex justify-center py-12" id="button">
    <button
      class="focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-700 mx-auto transition duration-150 ease-in-out hover:bg-indigo-600 bg-indigo-700 rounded text-white px-4 sm:px-8 py-2 text-xs sm:text-sm"
      onclick="modalHandler(true)">Create New Agent</button>
  </div>
  <script>
    let modal = document.getElementById("modal");
    function modalHandler(val) {
      if (val) {
        fadeIn(modal);
      } else {
        fadeOut(modal);
      }
    }
    function fadeOut(el) {
      el.style.opacity = 1;
      (function fade() {
        if ((el.style.opacity -= 0.1) < 0) {
          el.style.display = "none";
        } else {
          requestAnimationFrame(fade);
        }
      })();
    }
    function fadeIn(el, display) {
      el.style.opacity = 0;
      el.style.display = display || "flex";
      (function fade() {
        let val = parseFloat(el.style.opacity);
        if (!((val += 0.2) > 1)) {
          el.style.opacity = val;
          requestAnimationFrame(fade);
        }
      })();
    }
  </script>

</dh-component>
<!-- Code block ends -->

{{ end }}